/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2vh;
}

/* Style the dropdown button */
.dropdown-btn {
  background-color: #4CAF50;
  color: white;
  padding: 1vw;
  font-size: 2vh;
  border: none;
  cursor: pointer;
  text-align: left;
}

/* Style the menu icon */
.menu-icon {
  width: 3vw;
  height: 3vw;
}

/* Style the dropdown container */
.dropdown-container {
  display: none;
  padding-left: 1vw;
}

/* Style the links */
.dropdown-container a {
  color: white;
  padding: 2vh 2vw;
  text-decoration: none;
  display: block;
}

/* Center content */
.w3-row {
  margin-top: 5vh;
}

/* Limit max width of center content */
.w3-col.s9 {
  max-width: 70vw;
}

/* Limit max height of image */
img {
  max-height: 60vh;
}
