/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2vh;
}

/* Style the dropdown button */
.dropdown-btn {
  background-color: #4CAF50;
  color: white;
  padding: 1%;
  font-size: 2vw;
  border: none;
  cursor: pointer;
  text-align: left;
}

/* Style the menu icon */
.menu-icon {
  width: 5vw;
  height: 5vw;
}

/* Style the dropdown container */
.dropdown-container {
  display: none;
  padding-left: 1%;
}

/* Style the links */
.dropdown-container a {
  color: white;
  padding: 2% 2%;
  text-decoration: none;
  display: block;
}

/* Limit max width of center content */
.w3-col.s9 {
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
}

/* Limit max height of image */
img {
  max-height: 60vh;
}

h1 {
  width: 20%;
  margin: 0 auto;
}
